
:root {
    --main-text-color: #757575;
    --scnd-text-color: #212121;
    --acc: #2196F3;
    --bcg-dark: #2F303A;
    --bcg-light: #F5F4FA;
    --bcg: #FFFFFF;
    --logo-header: #000000;
    --btn: #F5F4FA;
    --contact-footer:rgba(255, 255, 255, 0.6);
    --indent: 30px;
    --features: 4;
    --subdev: 3;
    --command: 4;
}


/* reset */


.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
img{display: block;}
/* global  */
body {
    color: var(--main-text-color);
    background-color: var(--bcg);
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    outline: 1px solid yellow;
    padding-left: 15px;
    padding-right: 15px;
}

.sect-padd{
    padding-top: 94px;
    padding-bottom: 94px
}


 /* Logo */

.flex-header {
    display: flex;
    align-items: center;
}

.logo { 
    color:var(--acc) ;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-family: 'Raleway', sans-serif;
    margin-right: 93px;
}

.logo-dark{
    color: var(--logo-header)
}

.logo-light {
    color: var(--bcg);
    
}

/* header */

.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;    
}

.header .link {
    padding-top: 32px;
    padding-bottom: 32px;}

.site-nav {
    color: var(--scnd-text-color); 
    gap: 50px;
}

.site-nav:hover,
.site-nav:focus {
    color: var(--acc);
}
.contact-left{
    margin-left: auto ;
}
.contact-header {
    color: var(--main-text-color);
}
.contact-left .link + .link{margin-left: 50px;}
.contact-header:hover,
.contact-header:focus {
    color: var(--acc);
}

.header .site-nav.current {
color: var(--acc);
}


/* main */
.hero{ 
    color: var(--bcg);
    background-color:var(--bcg-dark);
    text-align: center;
}

.hero-title {
    display: block;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    font-family: 'Roboto', sans-serif;
    color: var(--bcg);
    background-color: var(--acc);
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
    display:inline-block;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    /* margin-bottom: 200px; */
    padding: 10px 32px;
}
    
.flex-features {display: flex;
    flex-wrap: wrap;
    gap: var(--indent);

}

.flex-features .item { 
flex-basis: calc((100% - var(--indent) * (var(--features)-1))/var(--features)); 
}


.subtitle {
    color: var(--scnd-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
margin-bottom: 10px;}

.descr{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;}

.title { 
    color: var(--scnd-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}


.flex-subdev{
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}

.flex-subdev .item {
    flex-basis: calc((100% - var(--indent) * (var(--subdev)-1))/var(--subdev));
}
.command{background-color:var(--bcg-light);}

.flex-command{
display: flex;
flex-wrap: wrap;
gap: var(--indent);
}

.flex-command .item{
flex-basis: calc((100% - var(--indent) * (var(--command)-1))/var(--command));
}

.title-command{
    color:var(--scnd-text-color) ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
margin-bottom: 10px;}

.descr-command{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;}

.item-command{background-color:var(--bcg)  ;}
.item-command img{margin-bottom: 30px;}
.command-lable{}

/* footer */
.footer{
    background-color: var(--bcg-dark);
    color: var(--bcg);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;}

.address{font-style: normal;}

.contact-footer {color: var(--contact-footer);}

.contact-footer:hover,.contact-footer:focus { color: var(--acc);}

/* PORTFOLIO */
.btn-filter{
    font-family: 'Roboto', sans-serif;
    color: var(--scnd-text-color);
    background-color: var(--bcg-light);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.65;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;}

.btn-filter:hover , .btn-filter:focus {
    color: var(--bcg);
    background-color: var(--acc) ;}

/* works */
.title-work{ 
    color:var(--scnd-text-color) ;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;}

.title-descr{
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;}